Repository danielscholl/iac-terraform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Path conditions:
  azure-pipeline-release.yml: any of: azure-pipeline.yml, pipelines, modules, but not: **/*.md
  azure-pipeline.yml: any of: azure-pipeline.yml, pipelines, modules, but not: **/*.md
  pipelines/azure-pipeline.yml: any of: pipelines, but not: **/*.md

Added Simple Cluster and Master Pipeline
  azure-pipeline.yml
  modules/aks/outputs.tf
  samples/simplecluster/.gitignore
  samples/simplecluster/README.md
  samples/simplecluster/app/main.tf
  samples/simplecluster/main.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated
  azure-pipeline.yml
  pipelines/compose-stages.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Removed old pipelines and added environments for testing purposes
  azure-pipeline-cicd.yml
  azure-pipeline-release.yml
  azure-pipeline.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated for pull request trigger
  azure-pipeline.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updates
  azure-pipeline.yml
  pipelines/compose-stages.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Moved Pools to Jobs
  pipelines/compose-stages.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Fixed Pools
  pipelines/compose-stages.yml
  pipelines/publish-artifact.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Debug
  pipelines/compose-stages.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Depends fix
  pipelines/compose-stages.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Back to 1 environment
  README.md
  azure-pipeline.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated gitignore
  .gitignore
Due: none

Updated Gitops
  modules/aks-gitops/main.tf
  modules/aks-gitops/test/main.tf
  modules/aks-gitops/variables.tf
  modules/aks/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Lint Fix
  modules/aks-gitops/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Bug Fixed Service Principal to add features for adding app roles
  modules/ad-application/Test/unit_test.go
  modules/service-principal/main.tf
  modules/service-principal/test/main.tf
  modules/service-principal/test/unit_test.go
  modules/service-principal/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Lint Fixed
  modules/service-principal/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Database Changes
  modules/cosmosdb/main.tf
  modules/cosmosdb/test/main.tf
  modules/cosmosdb/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated Provider version and validated
  modules/ad-application/tests/main.tf
  modules/ad-application/tests/unit_test.go
  modules/aks-gitops/test/main.tf
  modules/aks/test/main.tf
  modules/app-insights/test/main.tf
  modules/app-service/test/main.tf
  modules/container-registry/test/main.tf
  modules/cosmosdb/README.md
  modules/cosmosdb/test/main.tf
  modules/cosmosdb/test/unit_test.go
  modules/function-app/test/main.tf
  modules/keyvault-policy/test/main.tf
  modules/keyvault-secret/test/main.tf
  modules/keyvault/test/main.tf
  modules/network/main.tf
  modules/network/test/main.tf
  modules/network/test/unit_test.go
  modules/provider/main.tf
  modules/resource-group/test/main.tf
  modules/service-bus/test/main.tf
  modules/service-plan/test/main.tf
  modules/service-principal/test/main.tf
  modules/storage-account/test/main.tf
  modules/virtual-machine/test/main.tf
  samples/fullstack/main.tf
  samples/simplecluster/main.tf
  samples/simpleweb/main.tf
  samples/webauth/main.tf
  samples/webdata/main.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Formated
  modules/app-service/main.tf
  modules/cosmosdb/main.tf
  modules/cosmosdb/test/main.tf
  modules/function-app/main.tf
  modules/virtual-machine/test/main.tf
  samples/webdata/main.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Moved Service Principal tests to out of scope
  modules/service-principal/tests/main.tf
  modules/service-principal/tests/unit_test.go
Due: azure-pipeline-release.yml, azure-pipeline.yml

Pipeline fixes
  azure-pipeline.yml
  modules/ad-application/Test/main.tf
  modules/ad-application/Test/unit_test.go
  modules/service-principal/Test/main.tf
  modules/service-principal/Test/unit_test.go
  pipelines/tasks/tests-unit.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Added in Teardown
  azure-pipeline.yml
  pipelines/stage-deploy.yml
Due: azure-pipeline-release.yml, azure-pipeline.yml, pipelines/azure-pipeline.yml

Added Bootstrap
  samples/bootstrap-ado/main.tf
  samples/bootstrap-ado/terraform.tfvars
Due: none

Updated
  samples/bootstrap-ado/.gitignore
  samples/bootstrap-ado/main.tf
  samples/bootstrap-ado/terraform.tfvars
Due: none

Updates
  modules/app-gateway/main.tf
  modules/app-gateway/outputs.tf
  modules/app-gateway/test/main.tf
  modules/app-gateway/variables.tf
  modules/app-gateway/versions.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updates
  modules/app-gateway/main.tf
  modules/app-gateway/test/main.tf
  modules/app-gateway/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated
  modules/app-gateway/main.tf
  modules/app-gateway/test/main.tf
  modules/app-gateway/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated
  modules/app-gateway/test/main.tf
  modules/app-gateway/test/unit_test.go
Due: azure-pipeline-release.yml, azure-pipeline.yml

Lint Fixes
  modules/app-gateway/main.tf
  modules/app-gateway/test/main.tf
  samples/bootstrap-ado/main.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Moved module
  modules/aks-appgw/README.md
  modules/aks-appgw/main.tf
  modules/aks-appgw/outputs.tf
  modules/aks-appgw/test/main.tf
  modules/aks-appgw/test/unit_test.go
  modules/aks-appgw/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Added gitops
  go.mod
  go.sum
  modules/aks-appgw/test/main.tf
  modules/aks-gitops/main.tf
  modules/aks-gitops/outputs.tf
  modules/aks-gitops/test/main.tf
  modules/aks-gitops/variables.tf
  modules/aks/aks_msi_client_id_query.sh
  modules/aks/main.tf
  modules/aks/outputs.tf
  modules/aks/security.tf
  modules/aks/variables.tf
  modules/flux/deploy_flux.sh
  modules/flux/main.tf
  modules/keyvault-flexvol/deploy.sh
  modules/kubediff/deploy_kubediff.sh
  modules/ssh-key/main.tf
  modules/ssh-key/outputs.tf
  modules/ssh-key/test/main.tf
  modules/ssh-key/variables.tf
  samples/gitopscluster/.gitignore
  samples/gitopscluster/README.md
  samples/gitopscluster/main.tf
  samples/gitopscluster/terraform.tfvars
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated
  samples/gitopscluster/main.tf
Due: none

Updated
  modules/aks/variables.tf
  samples/gitopscluster/main.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated Sample
  samples/gitopscluster/.gitignore
  samples/gitopscluster/main.tf
Due: none

Updated
  modules/ad-application/main.tf
  modules/ad-application/variables.tf
  modules/provider/main.tf
  modules/service-principal/main.tf
  modules/service-principal/variables.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml

Updated
  modules/ad-application/versions.tf
Due: azure-pipeline-release.yml, azure-pipeline.yml
