Repository danielscholl/iac-terraform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline.yml, pipelines/azure-pipeline.yml

azure-pipeline.yml:

# Required Group Variables - iac-terraform-variables
  # AGENT_POOL  (iac-terraform)
  # BUILD_ARTIFACT_NAME  (iac-terraform)
  # FORCE_RUN (false)
  # SERVICE_CONNECTION_NAME  <your_service_connection_name>
  # REMOTE_STATE_ACCOUNT <your_remote_state_account_name>
  # REMOTE_STATE_CONTAINER <your_remote_state_container_name>


trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - azure-pipeline.yml
    - /pipelines/*
    - /modules/*
    exclude:
    - /**/*.md

pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - /pipelines/*
    exclude:
    - /**/*.md

variables:
- name: 'TF_VERSION'
  value: '0.12.20'
- name: 'GO_VERSION'
  value: '1.12.14'
- name: 'TF_ROOT_DIR'
  value: 'samples'
- name: 'PIPELINE_ROOT_DIR'
  value: 'pipelines'
- group: 'iac-terraform-variables'

stages:
- template: pipelines/compose-stages.yml
  parameters:
    environments:
    - name: 'dev'
      resourceNameIsolationLevel: 8
      enablePrIsolation: false
      skipTests: false

    configurations:
    - jobName: simpleweb
      terraformWorkspacePrefix: 'sw'
      terraformTemplatePath: 'samples/simpleweb'
      terraformModulePath: 'modules'
      deploymentTimeoutInMinutes: 20
      environmentsToTeardownAfterRelease:
      - 'dev'

pipelines/azure-pipeline.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - /pipelines/*
    exclude:
    - /**/*.md

pr:
  branches:
    include:
    - '*'
  paths:
    include:
    - /pipelines/*
    exclude:
    - /**/*.md

variables:
- group: 'iac-terraform-variables'

stages:
- template: stage-compose.yml
  parameters:
    environments:
    - name: 'devint'
      resourceNameIsolationLevel: 8
  #     enablePrIsolation: true
    - name: 'qa'
      resourceNameIsolationLevel: 8
  #     enablePrIsolation: true
      
    configurations:
    - jobName: template_deployment
      terraformTemplatePath: '$(TF_DEPLOYMENT_TEMPLATE_ROOT)'
      deploymentTimeoutInMinutes: 120

Updated Samples
  samples/webauth/.gitignore
  samples/webauth/README.md
  samples/webauth/main.tf
  samples/webauth/test/user.http
Due: none

Documented pipeline and added debug variables
  azure-pipeline.yml
  pipelines/tasks/debug-variables.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/tasks/lint-go.yml
  pipelines/tasks/lint-tf.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/stage-deploy.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/compose-stages.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/publish-artifact.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Terraform Format
  azure-pipeline.yml
  modules/ad-application/main.tf
  modules/ad-application/tests/main.tf
  modules/aks-gitops/main.tf
  modules/aks/main.tf
  modules/aks/test/main.tf
  modules/aks/variables.tf
  modules/app-service/variables.tf
  modules/flux/output.tf
  modules/keyvault-flexvol/main.tf
  modules/kubediff/output.tf
  modules/virtual-machine/main.tf
  modules/virtual-machine/test/main.tf
  modules/virtual-machine/variables.tf
  samples/fullstack/main.tf
  samples/simplecluster/main.tf
  samples/simplecluster/terraform.tfvars
  samples/webauth/main.tf
Due: azure-pipeline.yml

Skip test for AD Application
  azure-pipeline-release.yml
  modules/ad-application/Test/main.tf
  modules/ad-application/Test/unit_test.go
Due: azure-pipeline.yml

Enabled multiple subscription support
  azure-pipeline-cicd.yml
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-destroy.yml
  pipelines/tasks/tf-plan.yml
  pipelines/tasks/tf-ws-create.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Enabled Debug
  pipelines/compose-stages.yml
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
  pipelines/stage-deploy.yml
  pipelines/tasks/debug-variables.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Fixed bug in pool
  pipelines/compose-stages.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Debug
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
  pipelines/tasks/debug-variables.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Fixed Debug
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Fixed Debug
  pipelines/publish-artifact.yml
  pipelines/stage-build.yml
  pipelines/tasks/debug-variables.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Debugging Scripts
  pipelines/stage-build.yml
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-destroy.yml
  pipelines/tasks/tf-plan.yml
  pipelines/tasks/tf-ws-create.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-destroy.yml
  pipelines/tasks/tf-plan.yml
  pipelines/tasks/tf-ws-create.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/tasks/tf-plan.yml
  pipelines/tasks/tf-ws-create.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated the scripts
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-destroy.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated
  pipelines/tasks/tf-plan.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Fix for integration testing
  pipelines/tasks/tests-int.yml
  pipelines/tasks/tf-plan.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Bug Fix integration testing
  pipelines/tasks/tests-int.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Turned on Analyze Changes
  pipelines/compose-stages.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Added ability to change location based on pipeline variable
  azure-pipeline-release.yml
  pipelines/tasks/tf-apply.yml
  pipelines/tasks/tf-plan.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Updated Readme
  README.md
Due: none

Updated Versions
  modules/aks/versions.tf
  modules/app-insights/versions.tf
  modules/container-registry/main.tf
  modules/container-registry/output.tf
  modules/container-registry/variables.tf
  modules/container-registry/versions.tf
  modules/cosmosdb/versions.tf
  modules/function-app/versions.tf
  modules/keyvault-policy/versions.tf
  modules/keyvault-secret/versions.tf
  modules/keyvault/versions.tf
  modules/network/versions.tf
  modules/provider/main.tf
  modules/provider/versions.tf
  modules/resource-group/versions.tf
  modules/service-bus/versions.tf
  modules/service-plan/versions.tf
  modules/service-principal/versions.tf
  modules/storage-account/versions.tf
  modules/virtual-machine/versions.tf
Due: azure-pipeline.yml

Fixed provider for terraform check failure
  modules/provider/main.tf
Due: azure-pipeline.yml

Virtual Machine Addition
  azure-pipeline-cicd.yml
  modules/virtual-machine/main.tf
  modules/virtual-machine/os/outputs.tf
  modules/virtual-machine/test/bootstrap.ps1
  modules/virtual-machine/test/main.tf
  modules/virtual-machine/variables.tf
  modules/virtual-machine/versions.tf
Due: azure-pipeline.yml

Formatting
  modules/virtual-machine/main.tf
  modules/virtual-machine/os/outputs.tf
  modules/virtual-machine/test/main.tf
  modules/virtual-machine/variables.tf
Due: azure-pipeline.yml

Initial Cluster
  samples/simplecluster/README.md
  samples/simplecluster/app/.gitignore
  samples/simplecluster/app/README.md
  samples/simplecluster/app/azure-vote-all-in-one-redis.yaml
  samples/simplecluster/app/azure-vote/Dockerfile
  samples/simplecluster/app/azure-vote/Dockerfile-for-app-service
  samples/simplecluster/app/azure-vote/app_init.supervisord.conf
  samples/simplecluster/app/azure-vote/azure-vote/config_file.cfg
  samples/simplecluster/app/azure-vote/azure-vote/main.py
  samples/simplecluster/app/azure-vote/azure-vote/static/default.css
  samples/simplecluster/app/azure-vote/azure-vote/templates/index.html
  samples/simplecluster/app/azure-vote/sshd_config
  samples/simplecluster/app/main.tf
  samples/simplecluster/main.tf
  samples/simplecluster/output/bedrock_kube_config
Due: none

Added Parallel Build
  pipelines/compose-stages.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Bug Fix
  pipelines/compose-stages.yml
Due: azure-pipeline.yml, pipelines/azure-pipeline.yml

Update outputs.tf
  modules/aks/outputs.tf
Due: azure-pipeline.yml

Updates
  samples/simplecluster/.gitignore
  samples/simplecluster/README.md
  samples/simplecluster/main.tf
  samples/simplecluster/output/bedrock_kube_config
Due: none

Fixed output id
  modules/aks/outputs.tf
Due: azure-pipeline.yml
